:root {
  --mw: 720px;
}

/* --- mdl --- */

/* --- 背景 --- */
#glayLayer {
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(100, 100, 100, 0.4);
  /* background: #636b6f; */
  /* opacity: 0.35; */
}

.mdlBox {
  z-index: 100;
  position: fixed;
  background: #e6f0f5;
  /* background-color: rgb(230, 240, 245); */

  left: 50%;
  top: 120px;
  width: var(--mw);
  /* widhtの半分 */
  margin-left: calc((var(--mw) / 2));

  height: auto;
  min-height: 200px;

  border-radius: 10px;
  text-align: left;
  font-weight: bold;
  overflow-y: scroll;
  overflow-x: auto;
}

/* デバッグ用 */
.mdlBox div {
  /* background-color: #fff; */
}

#mdlTop {
  position: fixed;
  margin-left: 20px;

  width: 675px;
  height: 110px;

  padding-bottom: 10px;
  border-bottom: solid 1px #000;
  background: #e6f0f5;
}

#adjTop {
  margin-top: 110px;
}

/* gap: 10px; */
.mdlTopGrid {
}

.mdlTitle {
  padding: 10px 15px 0;
  font-size: 120%;
}

.mdlGroup {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
  /* gap: 1rem; */
  padding: 0 25px;
  margin: 5px;
  gap: 10px;
}

.signeGroup,
.imgBtn {
  padding: 0 25px;
  margin: 5px;
}

.mdlText {
  padding: 0 15px;
  width: auto;
  /* width: calc(100% - 50px); */
  margin: 10px 30px;
  border-bottom: dotted 1px;
}

.imgGroup,
.imgBtn {
  padding: 0 25px;
  margin: 5px;
}
.imgSelect {
  margin: 10px 20px;
}
.imgInput {
  margin: 10px 20px;
}
.prevImg {
  width: 200px;
  /* height: 150px; */
}
.delImgBtn {
  margin: 0 20px;
}

#canvas {
  margin-bottom: 10px;
}

/* モーダル input */
.mdlTitle input {
  width: auto;
  /* min-width: 480px; */
  max-width: 600px;
  background: none;
  border: none;
}

.mdlTitle input:hover {
  background: none;
  border: none;
}

.mdlTitle input[type="text"],
.mdlTitle input[type="search"] {
  width: 380px;
}

#mShop input {
  width: auto;
  min-width: 100px;
  max-width: 480px;
}

#mPoit input {
  width: auto;
  min-width: 100px;
  max-width: 480px;
}

.mdlGroup input {
  border: none;
  background: none;
}
.mdlGroup input:hover {
  border: none;
  background: none;
}

.mdlGroup input[type="text"],
.mdlGroup input[type="search"] {
  width: 180px;
  border: none;
  background: none;
}
.mdlGroup input[type="text"].mMap,
.mdlGroup input[type="search"].mMap {
  width: 500px;
}

.mdlBox input[type="submit"] {
}

.mdlGroup select,
.imgGroup select {
  width: 120px;
  border: none;
  background: none;
}
.mdlGroup select:disabled,
.imgGroup select:disabled {
  opacity: 1;
  color: #000;
}

textarea.memoErea {
  resize: none;
  padding: 15px;
  width: 570px;
  height: 70px;
  border: 0;
}

#canvas {
  border: solid 1px #000;
  background: #fff;
}

#img-box {
  border: 1px solid #000;
  width: 640px;
}

#newImg {
  width: 640px;
  height: 150px;
  background: #fff;
}

.mdlBtn {
  padding-top: 5px;
  /* padding: 5px 15px 0; */
}

.r {
  text-align: end;
}

.c {
  text-align: center;
}

.btn {
  z-index: 10;
  display: inline-block;
  cursor: pointer;

  color: #fff;
  background: #5876a3;
  padding: 2px 10px;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

#contents input[type="submit"].btn,
#contents input[type="button"].btn,
#contents input[type="reset"].btn {
  z-index: 10;
  display: inline-block;
  cursor: pointer;

  color: #fff;
  background: #5876a3;
  padding: 2px 10px;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}


/* タブレット */
@media screen and (max-width: 840px) {
  .mdlBox {
    top: 80px;
  }
}

/* モーダルの幅 */
@media screen and (max-width: 720px) {
  .mdlBox {
    width: 100vw;
  }

  #mdlTop {
    width: calc(100vw - 40px);
    height: 100px;
  }

  .mdlTitle input[type="text"],
  .mdlTitle input[type="search"] {
    width: 200px;
  }
}
@media screen and (max-width: 620px) {
  #mdlTop {
    width: calc(100vw - 40px);
    height: 95px;
  }
}

/* スマホ */
@media screen and (max-width: 480px) {
  .mdlTitle input[type="text"],
  .mdlTitle input[type="search"] {
    width: 100px;
  }
  #mdlTop {
    height: 100px;
  }
}

@media screen and (max-width: 380px) {
  #mdlTop {
    height: 90px;
  }
}
